.home{
  &-hero{
    border-radius: 16px;
    padding: 114px 16px 48px;
    min-height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    &__text{
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 120%;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 43px;
    }
    &__wrap{
      background: #E5E5E5;
      padding: 40px 0 80px;
    }
  }
}
@media (min-width: 840px) {
  .home{
    &-hero{
      &__text{
        font-size: 34px;
      }
    }
  }
}