.personal-page-hero{
  width: 100%;
  min-height: 445px;
  padding-top: 40px;
  padding-bottom: 30px;
  box-sizing: border-box;
  //height: calc(80px + 25vw);
  //min-height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
  //display: flex;
  //flex-direction: column;
  //align-items: flex-end;
  margin-bottom: 50px;
  flex-shrink: 0;
  &-avatar{
    display: block;
    background-clip: padding-box;
    background-size: cover;
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    &-wrap{
      //transform: translateY(30%);
      width: auto;
      position: relative;
      margin: 0px auto;
    }
  }
  &-no-avatar{
    display: block;
    background-clip: padding-box;
    background-size: cover;
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 50%;
    overflow: hidden;
    font-size: 40px;
    line-height: 5rem;
    text-align: center;
    margin: 0 auto;
  }
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
  }
  &-title{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
  }
  &-categories{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
  }
  &-actions{
    width: 100%;
    margin: 0 auto 66px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    box-sizing: border-box;
    .mdc-button--unelevated .mdc-button__icon{
      margin: 0;
    }
  }
}
.personal-page{
  &-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
  }
  &-short-description{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
  }
  &-about{
    margin-top: 56px;
    margin-bottom: 56px;
    font-size: 17px;
    color: #555555;
    &-title{
      font-weight: bold;
      font-size: 28px;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}

.personal-page-stats{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  &-item{
  }
  &-value{
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #212121;
  }
  &-description{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    color: #999999;
  }
}
.personal-details{
  &-username{
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;

    color: #212121;
  }
  &-info{
    font-weight: bold;
    font-size: 11px;
    color: #999999;
  }
  &-description{
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: rgba(33, 33, 33, 0.87);
  }
  &-social a{
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: #999999;
    color: #fff;
    text-align: center;
    &:hover, &:focus, &:active{
      background-color: darken(#999999, 10%);
    }
  }
}
.qr{
  &-image{}
  &-nickname{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    /* or 26px */
    letter-spacing: -0.01em;
    color: #000000;
    margin-left: 30px;
    margin-top: -20px;
  }
}
@media (min-width: 592px) {
  .personal-page-hero{
    &-avatar{
      width: 160px;
      min-width: 160px;
      height: 160px;
    }
    &-no-avatar{
      width: 160px;
      min-width: 160px;
      height: 160px;
      line-height: 160px;
      font-size: 60px;
    }
  }

}
@media (min-width: 840px) {

}
@media (min-width: 1350px) {

}