@import "common";
@import "media";
@import "buttons";
@import "grid";
@import "links";
@import "cards";
@import "form";
@import "top-app-bar";
@import "preload";
@import "product";
@import "chat";
@import "datatable";
@import "locations";
@import "drawer";
@import "typography";
@import "user";
@import "personal_page";
@import "clientside_styles";
@import "body_bg";
@import "blog";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '../libs/material-datepicker/material-datepicker';
@import"~quill/dist/quill.snow";
@import"~quill/dist/quill.core";
body {
  margin: 0;
}
.ql-snow .ql-editor {
  min-height: 15rem;
  background: #fff;
}
img{
  max-width: 100%;
}